.row
  .cell.well
    %p#notice= notice

    %h1= @question.title

    .tac
      = link_to like_question_path(@question), method: :put do
        Upvote
        \#{@question.get_upvotes.size}
      = link_to dislike_question_path(@question), method: :put do
        Downvote
        \#{@question.get_downvotes.size}

    .tac
      %strong Category:
      = @question.category

    .tac

      - if @question.user == current_user
        = link_to 'Edit', edit_question_path(@question), class: 'dib'
        = link_to 'Destroy', @question, method: :delete, class: 'dib', data: { confirm: 'Are you sure?' }

.row
  .cell.cell--s.well

    .tac
      %h3.comments_title
        = @question.comments.count
        Comments

    #comments
      = render :partial => @question.comments

    = simple_form_for [@question, Comment.new]  do |f|
      .field
        = f.text_area :body, class: "form-control"
      %br/
      = f.submit "Add Comment", class: "btn btn-primary"




    / = link_to 'Edit', edit_question_path(@question)
    / |
    / \#{link_to 'Back', questions_path}